body{
    background-color:antiquewhite;
}


.header a{
    color: black;
    text-decoration: none;
    padding: 15px;
    float: right;
    height: 40px;
}

.banner{
    background-color:rgb(204, 192, 167);
    border: 2px solid rgb(157, 168, 168);
}

.banner h1{
    color:black;
    text-align: center;
    font-size: 80px;
    font-family: 'Raleway', sans-serif;
}

.biografia h2{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}

.biografia .picture{
    float: left;
    padding: 10px;
}

.picture img{
    width: 250px;
    height: 310px;
}

.hits h2{
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}

.hits .tabla{
    float: left;
    width: 965px;
} 

.hits .spotify{
    float: right;
}

.gallery {
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    padding: 0px 40px;
}

footer{
    background-color:rgb(204, 192, 167);
    text-align: center;
    padding: 20px 0px;
}